<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni.alfred-complice</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0A700879-37BA-4674-B2DB-91331E62C72B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D775958-2FE8-4B11-B4A8-A300D5542745</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D775958-2FE8-4B11-B4A8-A300D5542745</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2D64B4B-4EBE-47CB-BE65-FAD53830A4BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1123491C-E663-421B-91FE-8687410D00A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E523F176-092F-4354-9930-C482F56606CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A2B9EC7-196C-4F9B-A548-610EDF45BC4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9FE7955-EB90-4633-80A5-9B5B73C0AE42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EB9C033-FA26-4E27-AD56-431A9E1F2927</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A2B9EC7-196C-4F9B-A548-610EDF45BC4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31825A2C-AB94-4F86-A662-67B3D7C91F02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5AC5494-9C4B-4CCC-A5C8-9B30A980DBCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43F3A72C-3F49-4A74-8859-3B979E640141</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94991CA8-0F89-404B-83E4-3A1AC7199023</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8354C1BF-5302-4F40-87A2-DE47FB9EB96C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>723E036D-998A-4C95-8998-010BC32F55E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D405B328-3444-4B0B-A41B-8851F246F01C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94991CA8-0F89-404B-83E4-3A1AC7199023</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8354C1BF-5302-4F40-87A2-DE47FB9EB96C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5AC5494-9C4B-4CCC-A5C8-9B30A980DBCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EB9C033-FA26-4E27-AD56-431A9E1F2927</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9FE7955-EB90-4633-80A5-9B5B73C0AE42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A700879-37BA-4674-B2DB-91331E62C72B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7B5C1E20-E197-48B9-9815-0D2EE55C82FB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>94991CA8-0F89-404B-83E4-3A1AC7199023</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>232CB5A3-BADB-4502-851D-E9670A47CC19</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1123491C-E663-421B-91FE-8687410D00A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>An Alfred workflow for Complice</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Complice</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 complice_post.py ${1}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D775958-2FE8-4B11-B4A8-A300D5542745</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Remember to add the goal number!</string>
				<key>text</key>
				<string>New Intention</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0A700879-37BA-4674-B2DB-91331E62C72B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>New intention posted! 🎯</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E2D64B4B-4EBE-47CB-BE65-FAD53830A4BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>Restart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>43F3A72C-3F49-4A74-8859-3B979E640141</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 complice_get.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>fetching intentions...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>94991CA8-0F89-404B-83E4-3A1AC7199023</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>31825A2C-AB94-4F86-A662-67B3D7C91F02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!c</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 complice_menu.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>your Complice</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A5AC5494-9C4B-4CCC-A5C8-9B30A980DBCC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 complice_complete.py ${1}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8354C1BF-5302-4F40-87A2-DE47FB9EB96C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>👍 well done.</string>
				<key>title</key>
				<string>Intention completed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>723E036D-998A-4C95-8998-010BC32F55E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:myAction}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>newIntention</string>
						<key>outputlabel</key>
						<string>New Intention</string>
						<key>uid</key>
						<string>7B5C1E20-E197-48B9-9815-0D2EE55C82FB</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:myAction}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>listIntentions</string>
						<key>outputlabel</key>
						<string>Get Intentions</string>
						<key>uid</key>
						<string>232CB5A3-BADB-4502-851D-E9670A47CC19</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B9FE7955-EB90-4633-80A5-9B5B73C0AE42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>2EB9C033-FA26-4E27-AD56-431A9E1F2927</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>myAction</key>
					<string>{var:split1}</string>
					<key>notMessage</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1A2B9EC7-196C-4F9B-A548-610EDF45BC4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>Restart</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D405B328-3444-4B0B-A41B-8851F246F01C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 complice_triager.py "${myAction}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1123491C-E663-421B-91FE-8687410D00A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notMessage}</string>
				<key>title</key>
				<string>Complice Timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E523F176-092F-4354-9930-C482F56606CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A workflow to manage your Complice intentions and timers with Alfred.</string>
	<key>uidata</key>
	<dict>
		<key>0A700879-37BA-4674-B2DB-91331E62C72B</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>0D775958-2FE8-4B11-B4A8-A300D5542745</key>
		<dict>
			<key>note</key>
			<string>post new intention</string>
			<key>xpos</key>
			<integer>1175</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>1123491C-E663-421B-91FE-8687410D00A6</key>
		<dict>
			<key>note</key>
			<string>triager</string>
			<key>xpos</key>
			<integer>945</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>1A2B9EC7-196C-4F9B-A548-610EDF45BC4D</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>2EB9C033-FA26-4E27-AD56-431A9E1F2927</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>31825A2C-AB94-4F86-A662-67B3D7C91F02</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>43F3A72C-3F49-4A74-8859-3B979E640141</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>723E036D-998A-4C95-8998-010BC32F55E7</key>
		<dict>
			<key>xpos</key>
			<integer>1490</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>8354C1BF-5302-4F40-87A2-DE47FB9EB96C</key>
		<dict>
			<key>note</key>
			<string>completing intention</string>
			<key>xpos</key>
			<integer>1285</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>94991CA8-0F89-404B-83E4-3A1AC7199023</key>
		<dict>
			<key>xpos</key>
			<integer>935</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>A5AC5494-9C4B-4CCC-A5C8-9B30A980DBCC</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>B9FE7955-EB90-4633-80A5-9B5B73C0AE42</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>D405B328-3444-4B0B-A41B-8851F246F01C</key>
		<dict>
			<key>xpos</key>
			<integer>1490</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>E2D64B4B-4EBE-47CB-BE65-FAD53830A4BB</key>
		<dict>
			<key>xpos</key>
			<integer>1405</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>E523F176-092F-4354-9930-C482F56606CA</key>
		<dict>
			<key>xpos</key>
			<integer>1175</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>POMOLENGTH</key>
		<string>25</string>
		<key>TIMERLENGTH</key>
		<string>10</string>
		<key>TOKEN</key>
		<string>djnnamrjux6asm4ixub8</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>TOKEN</string>
	</array>
	<key>version</key>
	<string>0.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-complice</string>
</dict>
</plist>
